# Git
.git
.gitignore

# Environment Variables
.env
.env.*

# Python
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd

# Virtual Environments
.venv
venv
ENV

# IDEs
.vscode
.idea

# OS Files
.DS_Store
Thumbs.db

# Documentation (Optional, but usually not needed in runtime containers)
docs/
*.md

# Local build artifacts
**/dist
**/build
**/*.egg-info
upload/

